body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    background-color: #0b2838;
    min-height: 100%;
}

header {
    position: sticky;
    top: 0;
}

/* 在顶部导航栏中添加背景颜色 */
.top_nav {
    overflow: hidden;
    background-color: #323F46;
    /*opacity: 0.85;*/

}

.top_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* 设置导航栏的链接样式 */
.top_nav a {
    float: left;
    display: block;
    color: #9ebfd8;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.top_nav .home {
    font-size: 30px;
    padding-left: 30px;
}

.top_nav ul a {
    padding-top: 25px;
    font-size: 16px;
}

/* 在悬停时更改链接的颜色 */
.top_nav a:hover {
    color: white;
}

/* 突出显示当前选中的元素 */
.top_nav a.active {
    color: white;
}

/* 设置导航栏的搜索框样式 */
.top_nav .search_nav {
    position: relative;
    float:right;
    margin-top: 15px;
    margin-right: 15px;
}
.top_nav .search_nav input[type=text] {
    float: left;
    background-color: white;
    width: 300px;
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    border: 2px solid white;
    padding: 8px;
    font-size: 16px;
    outline: none;
}
.top_nav .search_nav button {
    float: left;
    width: 60px;
    height: 38px;
    line-height: 37px;
    background-color: #4e6ef2;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: 0;
}

.main {
    height: 90%;
    width: 100%;
    position: absolute;
    margin:0 auto;
    overflow: hidden;
}
#back_off {
    position: fixed;
    margin: 10px 20px;
}
.main a {
    color: #9ebfd8;
    text-decoration: none;
    font-size: 28px;
}
.main a:hover {
    color: white;
}

.text {
    color: white;
    text-align: left;
    margin: 90px;
}
/*设置主页面搜索框样式*/
.search {
    position: relative;
    top: 40%;
    left: 50%;
    margin-left: -328px;
}
.search input[type=text] {
    float: left;
    background-color: white;
    width: 450px;
    padding: 12px 78px 12px 16px;
    font-size: 16px;
    outline: 0;
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    border: 2px solid white;
}
.search button {
    float: left;
    width: 108px;
    height: 47px;
    line-height: 45px;
    background-color: #4e6ef2;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    color: #fff;
    border: none;
    outline: 0;
}
.hidden {
    display: none;
}

footer {
    color: #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #0b2838;
    line-height: 35px;
}
footer p {
    display: inline;
    margin-right: 20px;
    font-size: 14px;
}

/*distinguish页面*/
.container {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    color: white;
}
.container .left,.right {
    float: left;
    width: 45%;
    margin: 31px;
}
.container label {
    float: left;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 19px;

}
.container button {
    float: right;
    background-color: #337ab7;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
}
.container .clear {
    background-color: #d9534f;
}
.container textarea {
    height: 300px;
    width: 95%;
    outline: 0;
    padding: 1rem;
    font-size: 1.5rem;
    overflow-y: scroll;
    border-radius: 4px;
    margin-top: 10px;
}
.container textarea[disabled] {
    background-color: #CCCCCC;
}
